.ul {
    display: flex;
    background-color: rebeccapurple;
    list-style: none;
    padding: 3rem 7rem;
    width: 100%;
    border-top: 1px solid var(--color-black-10);
    border-bottom: 1px solid var(--color-black-10);
    background: var(--color-white-solid);
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
}

.li {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
}

.icon {
    display: flex;
    width: 3rem;
    height: 3rem;
}

.h2 {
    display: flex;
    color: var(--color-azure-11);
    text-align: center;
    font-family: var(--font-segoe);
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.subText {
    display: flex;
    color: var(--color-azure-34);
    text-align: center;
    font-family: var(--font-segoe);
    font-size: .975rem;
    font-style: normal;
    font-weight: 400;
    line-height:1.5
}

@media (max-width: 1024px) {
    .ul {
        padding: 3rem 3rem;
    }

    .h2 {
        font-size: 1.75rem;
    }
}

@media (max-width: 640px) {
    .ul {
        flex-direction: column;
        padding: 2.5rem 1.5rem;
        gap: 2rem;
    }

    .h2 {
        font-size: 1.75rem;
    }

    .subText {
        font-size: .875rem;
    }
}