.childrenWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding-bottom: 1rem;
}

.childrenWrapper span {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;
    gap: 1rem;
}

.childrenWrapper .lastDiv {
    display: flex;
    width: 100%;

    display: flex;
padding: 18px;
gap: 4px;
align-items: center;
justify-content: flex-start;

border-radius: 10px;
border: 0.667px solid #BEDBFF;
background: #EFF6FF;

color: #6A7282;
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

