
.section {
    display: flex;
    padding: 80px 304px;
    background: var(--color-azure-11);
    box-sizing: border-box;
    width: 100%;
}

.section div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 100%;
}

.section h2 {
    color: var(--color-white-solid);
    text-align: center;
    font-family: var(--font-arial);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.section p {
    color: var(--color-azure-84);
    text-align: center;
    font-family: var(--font-arial);
    font-size: 19.7px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 16px;
}

@media (max-width: 1024px) {
    .section {
        padding: 60px 80px;
    }

    .section h2 {
        font-size: 28px;
    }

    .section p {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 48px 32px;
    }

    .section h2 {
        font-size: 24px;
    }

    .section p {
        font-size: 15.5px;
    }
}

@media (max-width: 480px) {
    .section {
        padding: 36px 20px;
    }

    .section h2 {
        font-size: 21px;
    }

    .section p {
        font-size: 14px;
    }
}