* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

:root {
   --main-font: 'Inter', sans-serif;
   --Arial: Arial;
   --color-blue-4:  #030213;
   --color-white-solid: #FFF;
   --font-size-18:  18px;
  --font-weight-400: 400;
  --line-height: 28px;
  --item-spacing-8-01 :8.01px;
}